@{ 
    Layout = null;
}
<form id="OrangizeForm">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>组名称</td>
                <td><input type="text" name="orangizeName" /></td>
            </tr>
            <tr>
                <td>组别名</td>
                <td><input type="text" name="orangizeNickName" /></td>
            </tr>
        </tbody>
    </table>
</form>
