<link href="~/Content/themes/bootstrap/easyui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.11.3.min.js"></script>

<script src="~/Scripts/jquery.easyui-1.4.3.min.js"></script>
<table id="tb_guid"></table>
<div class="easyui-accordion" id="tt">
    <div title="title1">1</div>
    <div title="title2">2</div>
</div>
<script>
    (function () {
        debugger
        $.parser.onComplete = function () {
            alert("111");
        };
        $("#tb_guid").datagrid({
            url: '/api/Sys/OrangizeApi/Get',
            method:'get',
            width: 500,
            height:300,
            columns: [[
                { field: 'OrangizeCode', title: '组织代码', width: 100 }
            ]]
            
        });
        //$.getJSON("/api/Sys/OrangizeApi/Get", function (data) {
        //    console.log(data);
        //});
        //$.ajax({
        //    url: '/api/Sys/OrangizeApi/Get',
        //    method: 'get',
        //    success: function (data) {
        //    }

        //});
    })();
</script>